.trash {
  float: right;
  color: blue;
  cursor: pointer;
}
.trash:hover {
  color: red;
}
.listy {
  background-color: rgb(13, 78, 199);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
ul,
.list1 {
  width: 100%;
  background-color: rgb(13, 78, 199);
  border: 1px solid black;
}
